# Ignore SQLite database files
*.sqlite
*.sqlite3
*.db
*.json
*.pyc
sync_db.py
/root/tehtarikjodi/sync_db.py
apps/__pycache__
apps/migrations/
/root/tehtarikjodi/apps/migrations/
tehtarikjodi/settings.py