:root {
    --primary-color: #E95122;
    --secondary-color: #2F4076;
    --third-color: #E6DDCE;
    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Bungee', sans-serif;
    --third-font: 'Mogena', sans-serif;
}

/* Define common font families and their variants */

@font-face {
    font-family: 'Lato';
    font-weight: 100, 300, 400, 700;
    font-style: normal, italic;
    src: url('/static/fonts/Lato-Black.ttf') format('truetype'),
        url('/static/fonts/Lato-BlackItalic.ttf') format('truetype'),
        url('/static/fonts/Lato-Bold.ttf') format('truetype'),
        url('/static/fonts/Lato-BoldItalic.ttf') format('truetype'),
        url('/static/fonts/Lato-Italic.ttf') format('truetype'),
        url('/static/fonts/Lato-Light.ttf') format('truetype'),
        url('/static/fonts/Lato-LightItalic.ttf') format('truetype'),
        url('/static/fonts/Lato-Regular.ttf') format('truetype'),
        url('/static/fonts/Lato-Thin.ttf') format('truetype'),
        url('/static/fonts/Lato-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Bungee';
    src: url('/static/fonts/Bungee-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mogena';
    src: url('/static/fonts/Mogena.ttf') format('truetype');
}

/* Reset default style for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Body styles */
body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: var(--secondary-color);
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

#main-header {
    height: 30vh;
    padding: 0 2em;
    transition: top 0.75s ease-in-out;
}

.logo img {
    width: 8em;
    height: auto;
}

.divider {
    background-color: var(--secondary-color);
    width: 100%;
    height: 0.1em;
}

/* Navigation styles */
.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1em 0;
}

.nav a {
    text-decoration: none;
    color: var(--secondary-color);
    margin: 0 1em;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav a:hover:not(.active) {
    background-color: var(--secondary-color);
    color: #fff;
}

.nav-mobile .active {
    color: #fff !important;
    background-color: var(--secondary-color);
    border-radius: 2em;
}

.burger-menu {
    display: none;
}

.burger-menu .active {
    background-color: none;
}

.burger-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: flex-end;
}

.bar {
    width: 1.5em;
    height: 0.15em;
    background-color: var(--secondary-color);
    margin: 0.15em 0;
    transition: transform 0.3s ease;
}

.nav-mobile {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 5em;
    right: 0;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
    width: 100%;
}

.nav-mobile a {
    text-decoration: none;
    color: var(--secondary-color);
    margin: 0 1em;
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Reasons section styles */
.reasons-background-image {
    background-image: url('/static/imgs/compress/testpic-reason-2.webp');
    background-size: cover;
    position: relative;
    background-position: center center;
    margin-top: 30vh;
    width: 100%;
}

.reasons-container {
    background-color: rgba(255, 70, 9, 0.5);
    display: flex;
    text-align: center;
    flex-direction: column;
}

.container-title {
    font-size: 3em;
    margin-bottom: 2em;
    font-family: var(--secondary-font);
    -webkit-text-stroke: 0.01em white;
    text-align: center;
    color: var(--primary-color);
    text-shadow: 0.1em 0.1em rgba(0, 0, 255, 1);
}

/* Reasons styles */
.reasons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 2em;
}

.reason {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 100%;
    max-width: 300px;
}

.icon img {
    width: 20%;
    margin-bottom: 10px;
    color: #fff;
    background-size: cover;
}

.icon .icon-affordable {
    width: 34%;
}

.icon .icon-sustainable {
    width: 35%;
}

.reason-title {
    font-size: 18px;
    color: #fff;
    font-style: italic;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    font-weight: 100;
    font-family: 'Lato-Thin', sans-serif;
    margin: 0.8em;
    width: 100%;
    max-width: 14em;
}

.reason-description {
    margin: 0.5em;
    width: 100%;
    max-width: 17em;
    font-size: 16px;
    color: #fff;
    word-wrap: break-word;
    font-family: 'Lato-Thin', sans-serif;
    line-height: 1.5;
}

/* Title styles */
.title-background-image {
    background-image: url('/static/imgs/compress/testpic-title.webp');
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
}

.title-container {
    text-align: left;
    width: 80%;
    transform: rotate(-8deg);
}

.tilted-title {
    font-size: 6em;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    line-height: 1em;
    font-style: italic;
    font-weight: 700;
    position: relative;
    padding-top: 1em;
    z-index: 0;
}

.tilted-title::before,
.tilted-title::after {
    content: attr(title);
    position: absolute;
}

.tilted-title::before {
    -webkit-text-stroke: 0.01em white;
    z-index: -1;
}

.tilted-title::after {
    -webkit-text-stroke: 0.02em #2F4076;
    z-index: -2;
}

.title-desc {
    font-size: 2.1em;
    font-family: var(--primary-font);
    padding-top: 5.5em;
    padding-left: 1em;
    width: 80%;
    color: var(--primary-color);
    transform: rotate(-8deg);
    font-style: italic;
    z-index: 0;
    position: relative;
    -webkit-text-stroke: 0.01em white;
}

.title-desc .number-one {
    font-size: 1.5em;
    color: white;
    position: relative;
    z-index: 1;
}

.banner {
    background-color: rgba(255, 70, 9, 0.7);
    width: 45%;
    transform: translateY(-200%);
    border-radius: 0 4em 4em 0;
    position: absolute;
}

.banner-text {
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width: 90%;
    padding: 1em;
}

.title-image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-image-row img {
    max-width: 33.33%;
    height: auto;
}

.title-image-slide {
    display: none;
}

/* Quote styles */
.quote {
    position: relative;
    background-color: white;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.quote-pattern-top {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/static/imgs/quote-pattern.png');
    background-repeat: repeat-x;
    background-size: 200%;
    height: 5em;
    width: 100%;
}

.quote-pattern-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('/static/imgs/quote-pattern.png');
    background-repeat: repeat-x;
    background-size: 200%;
    height: 5em;
    width: 100%;
}

.quote-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.quote-content img {
    width: 20%;
}

.quote-text {
    text-align: center;
    align-items: center;
    font-size: 1.5em;
    width: 60%;
    color: var(--secondary-color);
    font-family: 'Lato-Regular', sans-serif;
}

/* Owner styles */
.owner-container {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100vh;
    position: relative;
}

.owner-frame {
    text-align: center;
    padding-top: 5em;
}

.owner-frame img {
    display: inline-block;
    width: 40%;
}

.owner-person {
    position: absolute;
    top: 4%;
    left: 31%;
}

@keyframes waving {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.waving {
    animation: waving 2s linear infinite;
}

.owner-person img {
    width: 56%;
    position: relative;
}

.owner-banner {
    position: absolute;
}

.owner-banner img {
    bottom: 7.5em;
    left: 4.5em;
    width: 40%;
    position: relative;
}

@keyframes waving-hard-cw {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes waving-hard-ccw {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.owner-container .stiker1 img {
    position: absolute;
    top: 15%;
    left: 85%;
    width: 10%;
    animation: waving-hard-ccw 2s linear infinite;
}

.owner-container .stiker2 img {
    position: absolute;
    top: 10%;
    left: 23%;
    width: 5%;
    animation: waving-hard-cw 2s linear infinite;
}

.owner-container .stiker3 h3 {
    position: absolute;
    top: 7%;
    left: 36%;
    font-size: 1.5em;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: rotate(-10deg);
    animation: waving-hard-ccw 2s linear infinite;
}

.owner-container .stiker4 img {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 15%;
    animation: waving-hard-ccw 2s linear infinite;
}

.owner-container .stiker5 h3 {
    position: absolute;
    letter-spacing: 1px;
    width: 10%;
    top: 45%;
    left: 32.5%;
    font-size: 1.2em;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: rotate(-8deg);
    animation: waving 2s linear infinite;
}

.owner-container .stiker6 img {
    position: absolute;
    top: 74%;
    left: 76%;
    width: 7%;
    animation: waving-hard-cw 2s linear infinite;
}

.owner-container .stiker7 img {
    position: absolute;
    top: 74%;
    left: 14%;
    width: 8%;
    transform: rotate(8deg);
    animation: waving-hard-ccw 2s linear infinite;
}

/* Video Influencer styles */
.video-influencer-section,
.video-influencer-section2,
.video-influencer-section3 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 2em;
}

.video-influencer-section {
    background-color: var(--primary-color);

}

.video-influencer-section2 {
    background-color: var(--secondary-color);
}

.video-influencer-section3 {
    background-color: var(--third-color);
}

.events-photo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.event-photo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 190px;
    height: 360px;
}

.event-photo img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 1em;
}

.video-influencer-section h2,
.video-influencer-section2 h2,
.video-influencer-section3 h2 {
    padding: 0.5em 5em;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.video-player,
.video-player2 {
    border-radius: 2em;
    text-align: center;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 63%;
    background-color: black;
}

.video-player {
    box-shadow: 1em 0.6em #2F4076;
}

.video-player2 {
    box-shadow: 1em 0.6em #E95122;
}

.video-player video,
.video-player2 video {
    width: 32%;
}

.video-influencer-section .stiker1 img,
.video-influencer-section2 .stiker1 img,
.video-influencer-section3 .stiker1 img {
    position: absolute;
    top: 2%;
    left: 85%;
    width: 7%;
    animation: waving-hard-cw 2s linear infinite;
}

.video-influencer-section .stiker2 img,
.video-influencer-section2 .stiker2 img,
.video-influencer-section3 .stiker2 img {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 8%;
    animation: waving-hard-ccw 2s linear infinite;
    transform: rotate(-10deg);
}

.video-influencer-section .stiker3 img,
.video-influencer-section2 .stiker3 img,
.video-influencer-section3 .stiker3 img {
    position: absolute;
    top: 80%;
    left: 90%;
    width: 6%;
    animation: waving-hard-cw 2s linear infinite;
    transform: rotate(10deg);
}

/* Location styles */
.location-section {
    background-color: var(--third-color);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 2em;
}

.location-title {
    font-size: 7em;
    font-family: var(--primary-font);
    -webkit-text-stroke: 0.04em white;
    padding: 0.3em 0.5em 0 0.5em;
    color: var(--primary-color);
    text-shadow: 0.1em 0.1em #2F4076;
    width: 50%;
    transform: rotate(-4deg);
    line-height: 1em;
    font-style: italic;
    font-weight: bold;
    position: relative;
}

.location-subtitle {
    font-size: 2.5em;
    font-family: var(--third-font);
    padding: 0 2em;
    color: var(--primary-color);
    transform: rotate(-4deg);
    line-height: 0.95em;
    position: relative;
    letter-spacing: 0.01em;
}

.location-section .stiker1 img {
    position: absolute;
    top: 6%;
    left: 77%;
    width: 17%;
    z-index: 2;
}

.location-section .map img {
    position: absolute;
    top: 12%;
    left: 54%;
    width: 50%;
}

.location-section .map-zoom img {
    position: absolute;
    top: 44%;
    left: 43%;
    width: 45%;
}

.location-section .hashtag {
    font-size: 1em;
    background-color: var(--secondary-color);
    border-radius: 1em;
    text-align: center;
    position: absolute;
    top: 93.5%;
    left: 46%;
    color: white;
    padding: 0.5em 1em;
}

/* Events styles */
.event-section {
    background-color: var(--secondary-color);
    width: 100%;
    height: 175vh;
    overflow: hidden;
    position: relative;
}

.event-section .event-owner img {
    position: absolute;
    top: 12%;
    left: 30%;
    width: 40%;
}

.event-section .event-banner img {
    position: absolute;
    top: 42%;
    left: 33%;
    width: 35%;
}

.events {
    display: flex;
    align-items: center;
    position: relative;
    top: 60%;
}

.event {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.event img {
    width: 60%;
    height: 50%;
    border-radius: 6em;
    overflow: hidden;
    object-fit: cover;
}

.events-slide {
    display: none;
}

.event-desc {
    background-color: var(--primary-color);
    color: white;
    align-items: center;
    text-align: center;
    display: flex;
}

.event-desc p {
    font-family: var(--primary-font);
    font-weight: bold;
    padding: 0.75em;
}

.event-section .stiker1 h3 {
    position: absolute;
    letter-spacing: 0.01em;
    top: 12%;
    left: 10%;
    font-size: 4em;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: rotate(-8deg);
    animation: waving 2s linear infinite;
    text-shadow: 0.075em 0.075em #E95122;
}

.event-section .stiker2 h3 {
    position: absolute;
    letter-spacing: 0.01em;
    top: 36%;
    left: 70%;
    font-size: 2.5em;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: rotate(-8deg);
    animation: waving 2s linear infinite;
    text-shadow: 0.075em 0.075em #E95122;
}

/* Partner styles */
.partner-section {
    background-color: var(--third-color);
    width: 100%;
    height: 270vh;
    overflow: hidden;
    position: relative;
}

.partner-section h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 5em;
    padding: 1em 0 0 1em;
    line-height: 1.5em;
}

.partner-section h3 {
    font-family: var(--third-font);
    font-size: 2em;
    color: var(--secondary-color);
    text-shadow: 0.1em 0.05em #E95122;
    padding: 0 0 0.5em 2.5em;
}

.partner-section .stiker1 img {
    position: absolute;
    top: 5%;
    left: 80%;
    width: 8%;
    animation: waving-hard-cw 2s linear infinite;
}

.partner-article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2em;
}

.partner-article .article-container {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    align-items: center;
    width: 33em;
    height: auto;
    background-color: white;
    border-radius: 2em;
}

.article-container .article-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5em 2em 0 2em;
}

.article-header .article-title {
    display: flex;
    flex-direction: column;
}

.article-header .article-title h4 {
    color: var(--secondary-color);
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.article-header .article-title p {
    color: var(--secondary-color);
    font-size: 1em;
    font-family: 'Lato-Light', sans-serif;
}

.article-header .article-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-header .article-icon i {
    color: var(--primary-color);
    font-size: 1.2em;
    margin: 0 0.3em;
}

.article-container .article-img img {
    width: 30em;
    height: 30em;
    border-radius: 1em;
    margin: 2em;
    object-fit: cover;
}

.article-footer {
    background-color: var(--secondary-color);
    width: 100%;
    height: 3em;
    border-radius: 0 0 2em 2em;
    color: white;
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: end;
}

.article-footer a {
    color: white;
}

.partner-pattern-top {
    position: absolute;
    top: 60%;
    left: 0;
    background-image: url('/static/imgs/quote-pattern.png');
    background-repeat: repeat-x;
    background-size: 100%;
    height: 2.5em;
    width: 100%;
}

.partners-showcase .partner-title {
    font-style: var(--secondary-font);
    color: var(--primary-color);
    -webkit-text-stroke: 0.04em #fff;
    text-shadow: 0.1em 0.1em #2F4076;
    font-size: 5.5em;
    padding: 1em 0 0 0;
    line-height: 1em;
    transform: rotate(-4deg);
    width: 50%;
    position: relative;
    left: 43%;
    text-align: end;
}

.partners-showcase .stiker2 img {
    position: absolute;
    top: 62%;
    left: 6%;
    width: 35%;
}

.partners-showcase .partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.partners .partner {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-right: 1em;
    align-items: center;
    width: 23%;
}

.partners .partner img {
    width: 70%;
    height: 40%;
    border-radius: 8em;
    overflow: hidden;
    object-fit: cover;
}

.partner-desc {
    background-color: var(--secondary-color);
    color: white;
    width: 70%;
    align-items: center;
    justify-content: center;
    padding: 1em;
    display: flex;
}

.partner-desc p {
    font-size: 1.1em;
    width: 80%;
    text-align: center;
}

.partner-pattern-bottom {
    position: absolute;
    bottom: 1em;
    left: 0;
    background-image: url('/static/imgs/quote-pattern.png');
    background-repeat: repeat-x;
    background-size: 100%;
    height: 2.5em;
    width: 100%;
}

/* Franchise styles */
.franchise-section {
    background-color: var(--secondary-color);
    width: 100%;
    height: 165vh;
    overflow: hidden;
    position: relative;
    padding: 2em;
}

.franchise-title {
    font-size: 5em;
    margin: 1em 2em;
    font-family: 'Bungee', sans-serif;
    -webkit-text-stroke: 0.01em #E6DDCE;
    text-align: center;
    color: var(--primary-color);
    text-shadow: 0.05em 0.05em #E6DDCE;
    line-height: 0.4em;
}

.franchise-title2 {
    -webkit-text-stroke: 0.01em #E95122;
    color: var(--third-color);
    text-shadow: 0.05em 0.05em #E95122;
}

.franchise-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.franchise-content .stand {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
    background-color: var(--third-color);
    border-radius: 11em;
}

.franchise-content .stand img {
    width: 100%;
    margin: 2em;
}

.franchise-content .franchise-promo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
}

.franchise-content .franchise-promo h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    -webkit-text-stroke: 0.01em #fff;
    font-size: 4em;
    line-height: 1em;
    text-align: right;
}

.franchise-content .franchise-promo p {
    display: flex;
    font-size: 1em;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.15em;
}

.franchise-content .franchise-promo p span {
    font-size: 4em;
    font-family: var(--primary-font);
}

.franchise-content .franchise-promo button {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: white;
    border: none;
    border-radius: 2em;
    width: 75%;
    padding: 0.5em;
    margin: 0.5em 1em 0.5em 0;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.franchise-section .stiker1 img {
    position: absolute;
    top: 26%;
    left: 6%;
    width: 15%;
}

.franchise-section .stiker2 img {
    position: absolute;
    top: 69%;
    left: 30%;
    width: 22%;
}

.franchise-stiker-top-left {
    position: absolute;
    top: 2em;
    left: 2em;
    width: 5%;
}

.franchise-sticker-top-right {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 5%;
}

.franchise-stiker-bottom-left {
    position: absolute;
    bottom: 2em;
    left: 2em;
    width: 5%;
}

.franchise-sticker-bottom-right {
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: 5%;
}

/* Menu styles */
.menu-section {
    background-color: var(--third-color);
    width: 100%;
    height: 200vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.half-circle {
    position: relative;
    background-color: var(--primary-color);
    padding: 12em;
    border-radius: 0 0 50% 50%;
    overflow: hidden;
    margin-bottom: 12em;
}

.menu-section .stiker1 {
    background-color: var(--secondary-color);
    border-radius: 2em;
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 1em;
    position: absolute;
    top: 9%;
    left: 10%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-section .stiker2 img {
    position: absolute;
    top: 9%;
    left: 80%;
    width: 12%;
}

.menu-section h2 {
    position: absolute;
    top: 18%;
    left: 25%;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    -webkit-text-stroke: 0.01em #fff;
    font-size: 8em;
    text-shadow: 0.15em 0.15em rgba(255, 70, 9, 0.5), -0.15em -0.15em #2F4076;
}

.menu-slider {
    height: 50%;
}

.card {
    width: 85%;
    margin-right: 3em;
    background: var(--secondary-color);
    counter-increment: card;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 95%;
    border-radius: 2em;
}

.card img {
    width: 30%;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 45%;
}

.card-content h3 {
    font-size: 4em;
    font-family: var(--primary-font);
    color: white;
    margin-bottom: 0.1em;
}

.card-content p {
    font-size: 1.5em;
    color: white;
    text-align: left;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80%;
    letter-spacing: 0.02em;
}

.card .card-sticker-top-left {
    position: absolute;
    top: 2em;
    left: 2em;
    width: 5%;
}

.card .card-sticker-top-right {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 5%;
}

.card .card-sticker-bottom-left {
    position: absolute;
    bottom: 2em;
    left: 2em;
    width: 5%;
}

.card .card-sticker-bottom-right {
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: 5%;
}

/* Contact styles */
.contact-section {
    background-color: var(--primary-color);
    width: 100%;
    height: 150vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.contact-banner {
    display: flex;
    justify-content: center;
}

.contact-banner img {
    width: 50%;
    padding: 2em;
}

.contact {
    display: flex;
    flex-direction: row;
    width: 60%;
    background-color: white;
    border-radius: 2em;
    margin-top: 7em;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

.contact-owner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-owner img {
    position: absolute;
    top: -15%;
    left: -17%;
    width: 55%;
}

.contact-container {
    width: 70%;
    text-align: right;
    padding: 1em;
}

.contact-container h3 {
    font-size: 2.7em;
    color: var(--secondary-color);
    line-height: 1em;
}

.contact-container p {
    color: var(--primary-color);
    font-size: 1.3em;
    font-family: 'Lato Thin', sans-serif;
    margin: 1em;
}

.contact-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: var(--primary-color);
    font-family: 'Lato', sans-serif;
}

.contact-info span {
    margin-left: 0.3em;
}

.contact-button button {
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    color: white;
    border: none;
    border-radius: 2em;
    padding: 1em 3em;
    margin: 0.5em 1em 0.5em 0;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.contact-section .stiker1 img {
    position: absolute;
    top: 85%;
    left: 5%;
    width: 8%;
    animation: waving-hard-cw 2s linear infinite;
}

.contact-section .stiker2 img {
    position: absolute;
    top: 80%;
    left: 85%;
    width: 6%;
    animation: waving-hard-ccw 2s linear infinite;
}

.contact-section .company {
    margin-top: 5em;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}