{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Teh Tarik Jodi</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- default css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing-responsive-mobile.min.css' %}">
    <!-- new rev cs -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/landing-responsive-mobile.css' %}"> -->
    <link rel="icon" href="{% static 'systemaassets/logo.ico' %}" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
    <!-- Additional scripts and fonts and icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/peterhry/CircleType@2.3.1/dist/circletype.min.js"></script>
    <script src="https://kit.fontawesome.com/45561a8e99.js" crossorigin="anonymous"></script>
    <style>
        #whatsapp-popup {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #25D366;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            z-index: 1000;
        }

        /* Gaya CSS untuk ikon WhatsApp */
        #whatsapp-icon {
            margin-right: 5px;
            font-size: 2em;
        }
    </style>
</head>

<body>
    <button id="whatsapp-popup" onclick="openWhatsAppPopup()">
        <i id="whatsapp-icon" class="fab fa-whatsapp"></i>
    </button>
    <!-- Header Section -->
    <header id="main-header">
        <div class="logo">
            <a href="/">
                <img src="{% static 'systemaassets/LOGO-PNG.png' %}" alt="logo">
            </a>
        </div>
        <div class="burger-menu">
            <div class="burger-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="nav-mobile">
                <a href="/" class="active">Home</a>
                <a href="#paket-mitra">Tentang Kami</a>
                <a href="/simulasi-investasi/">Franchise</a>
                <a href="#contact">Kontak</a>
                <a href="/404/">Testimoni</a>
            </div>
        </div>
        <div class="divider"></div>
        <div class="nav">
            <a href="/" class="active">Home</a>
            <a href="#paket-mitra">Tentang Kami</a>
            <a href="/simulasi-investasi/">Franchise</a>
            <a href="#contact">Kontak</a>
            <a href="/404/">Testimoni</a>
        </div>
    </header>

    <!-- Reasons Section -->
    <div class="reasons-background-image">
        <div class="reasons-container">
            <h1 class="container-title">
                <span id="container-title1">Mengapa Memilih</span>
                <span id="container-title2">Teh Tarik Jodi?</span>
            </h1>
            <div class="reasons">
                <div class="reason">
                    <div class="icon">
                        <img src="{% static 'imgs/icon-affordable.png' %}" alt="" class="icon-affordable">
                    </div>
                    <h2 class="reason-title">AFFORDABLE</h2>
                    <p class="reason-description">Berkomitmen untuk selalu menyajikan produk-produk yang dapat dinikmati
                        semua kalangan</p>
                </div>
                <div class="reason">
                    <div class="icon">
                        <img src="{% static 'imgs/icon-sustainable.png' %}" alt="" class="icon-sustainable">
                    </div>
                    <h2 class="reason-title">SUSTAINABLE</h2>
                    <p class="reason-description">Konsistensi untuk memberikan keberlanjutan bisnis yang memiliki daya
                        saing kompetitif</p>
                </div>
                <div class="reason">
                    <div class="icon">
                        <img src="{% static 'imgs/icon-fresh.png' %}" alt="">
                    </div>
                    <h2 class="reason-title">FRESH</h2>
                    <p class="reason-description">Dibuat secara fresh dan langsung dapat dinikmati oleh pelanggan dengan
                        kualitas bahan baku pilihan serta rasa yang nikmat</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Title Section -->
    <div class="title">
        <div class="title-background-image">
            <div class="title-container"> 
                <h1 class="tilted-title" title="TEH TARIK JODI PARTNERSHIP"></h1>
            </div>
            <div class="title-desc">
                <span>Kemitraan Asli Teh Tarik & Kopitiam</span>
                <span class="number-one">#1</span>
                <span>di Indonesia</span>
            </div>
        </div>

        <div class="title-bottom">
            <div class="title-image-row">
                <img src="{% static 'imgs/compress/testpic-title-row3.webp' %}" alt="">
                <img src="{% static 'imgs/compress/testpic-title-row1.webp' %}" alt="">
                <img src="{% static 'imgs/compress/testpic-title-row2.webp' %}" alt="">
            </div>
            <div class="title-image-slide">
                <div class="slideshow">
                    <div class="slide_one slide">
                        <img src="{% static 'imgs/compress/testpic-title-row3.webp' %}" alt="">
                    </div>
                    <div class="slide_two slide">
                        <img src="{% static 'imgs/compress/testpic-title-row1.webp' %}" alt="">
                    </div>
                    <div class="slide_three slide">
                        <img src="{% static 'imgs/compress/testpic-title-row2.webp' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="banner">
                <div class="banner-text">
                    Berdiri sejak 2017, sudah lebih dari <span style="font-weight: bold;">7 tahun Teh Tarik Jodi</span>
                    mempunyai <span style="font-style: italic;">track-record</span> respon yang sangat baik dari para
                    penikmatnya
                </div>
            </div>
        </div>
    </div>

    <!-- Quote Section -->
    <div class="quote">
        <div class="quote-pattern-top"></div>
        <div class="quote-content">
            <img src="{% static 'systemaassets/LOGO-PNG.png' %}" alt="">
            <div class="quote-text">
                Terbukti, <span style="font-weight: bolder;">Teh Tarik Jodi</span> selalu menjaga <span
                    style="font-style: italic; font-weight: bold;">konsistensi</span> kualitas rasa <span
                    style="font-style: italic; font-weight: bold;">produk</span> dan kualitas proses pengolahan <span
                    style="font-style: italic; font-weight: bold;">bahan baku.</span>
            </div>
        </div>
        <div class="quote-pattern-bottom"></div>
    </div>

    <!-- Owner Section -->
    <div class="owner-container">
        <div class="owner-frame">
            <img src="{% static 'imgs/compress/owner-bg.webp' %}" alt="" srcset="">
        </div>
        <div class="stiker1">
            <img src="{% static 'imgs/stiker-face.png' %}" alt="" srcset="">
        </div>
        <div class="stiker2">
            <img src="{% static 'imgs/compress/stiker-j.webp' %}" alt="" srcset="">
        </div>
        <div class="stiker3">
            <h3>Halo Lurr!</h3>
        </div>
        <div class="stiker4">
            <img src="{% static 'imgs/compress/stiker-semangatpagi.webp' %}" alt="" srcset="">
        </div>
        <div class="stiker5">
            <h3>Salam dari BANG JODI</h3>
        </div>
        <div class="owner-person">
            <img src="{% static 'imgs/compress/owner-person.webp' %}" alt="" srcset="" class="waving">
            <div class="owner-banner">
                <img src="{% static 'imgs/compress/owner-banner.webp' %}" alt="" srcset="">
            </div>
        </div>
        <div class="stiker6">
            <img src="{% static 'imgs/compress/stiker-teko.webp' %}" alt="" srcset="">
        </div>
        <div class="stiker7">
            <img src="{% static 'imgs/compress/stiker-harimau-orange.webp' %}" alt="" srcset="">
        </div>
    </div>

    <!-- Video Influencer Section -->

    <div class="video-influencer-section">
        <h2>Video Influencer</h2>
        <div class="stiker1">
            <img src="{% static 'imgs/compress/stiker-harimau-orange.webp' %}" alt="" srcset="">
        </div>
        <div class="video-player">
            <video controls poster="">
                <source src="{% static 'vids/influencer1.mp4' %}" type="video/mp4">
                Your browser does not support the video tag
            </video>
        </div>
        <div class="stiker2">
            <img src="{% static 'imgs/compress/stiker-j.webp' %}" alt="" srcset="">
        </div>
        <div class="stiker3">
            <img src="{% static 'imgs/compress/stiker-teko.webp' %}" alt="" srcset="">
        </div>
    </div>

    <!-- Location Section -->
    <div class="location-section">
        <div class="location-title" style="font-family: var(--secondary-font);">TEH TARIK JODI</div>
        <div class="location-subtitle">hadir di</div>
        <div class="stiker1">
            <img src="{% static 'imgs/location-stiker.png' %}" alt="" srcset="">
        </div>
        <div class="map">
            <img src="{% static 'imgs/location-map-indonesia.png' %}" alt="" srcset="">
        </div>
        <div class="map-zoom">
            <a href="https://www.google.com/maps/search/Teh+Tarik+Jodi/@-7.3477018,110.397893,9z/data=!3m1!4b1?entry=ttu"
                target="_blank">
                <img src="{% static 'imgs/location-zoom.gif' %}" alt="" srcset="">
            </a>
        </div>
        <h3 class="hashtag">#BEINGAPARTNER</h3>
    </div>

    <!-- Event Section -->
    <div class="event-section">
        <div class="stiker1">
            <h3>info luuurr!!</h3>
        </div>
        <div class="stiker2">
            <h3>info luuurr!!</h3>
        </div>
        <div class="event-owner">
            <img src="{% static 'imgs/compress/events-owner.webp' %}" alt="" srcset="">
        </div>
        <div class="event-banner">
            <img src="{% static 'imgs/compress/events-banner.webp' %}" alt="" srcset="">
        </div>
        <div class="events-slide">
            <div class="events-slideshow">
                <div class="event_slide_one event-slide">
                    <img src="{% static 'imgs/compress/event-dewa.webp' %}" alt="" srcset="">
                    <div class="event-desc">
                        <p>Dewa 19 Konser Stadion Manahan</p>
                        <hr style="width: 100%;">
                        <p>29 Juli 2023</p>
                    </div>
                </div>
                <div class="event_slide_two event-slide">
                    <img src="{% static 'imgs/compress/event-bl.webp' %}" alt="" srcset="">
                    <div class="event-desc">
                        <p>SMP Bintang Laut, Solo</p>
                        <hr style="width: 100%;">
                        <p>27 - 29 Juli 2023</p>
                    </div>
                </div>
                <div class="event_slide_three event-slide">
                    <img src="{% static 'imgs/compress/event-bali.webp' %}" alt="" srcset="">
                    <div class="event-desc">
                        <p>SOLO BATIK MUSIC FESTIVAL
                            (SBMF 2023) Mangkunegaran</p>
                        <hr style="width: 100%;">
                        <p>30 Sep - 2 Okt 2023</p>
                    </div>
                </div>
                <div class="event_slide_four event-slide">
                    <img src="{% static 'imgs/compress/event-sopa.webp' %}" alt="" srcset="">
                    <div class="event-desc">
                        <p>Hello Market Solo Paragon 2023</p>
                        <hr style="width: 100%;">
                        <p>13 - 17 September 2023</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="events">
            <div class="event">
                <img src="{% static 'imgs/compress/event-dewa.webp' %}" alt="" srcset="">
                <div class="event-desc">
                    <p>Dewa 19 Konser Stadion Manahan</p>
                    <hr style="width: 100%;">
                    <p style="font-size: 12px;">29 Juli 2023</p>
                </div>
            </div>
            <div class="event">
                <img src="{% static 'imgs/compress/event-bl.webp' %}" alt="" srcset="">
                <div class="event-desc">
                    <p>SMP Bintang Laut, Solo</p>
                    <hr style="width: 100%;">
                    <p style="font-size: 12px;">27 - 29 Juli 2023</p>
                </div>
            </div>
            <div class="event">
                <img src="{% static 'imgs/compress/event-bali.webp' %}" alt="" srcset="">
                <div class="event-desc">
                    <p>SOLO BATIK MUSIC FESTIVAL
                        (SBMF 2023) Mangkunegaran</p>
                    <hr style="width: 100%;">
                    <p style="font-size: 12px;">30 Sep - 2 Okt 2023</p>
                </div>
            </div>
            <div class="event">
                <img src="{% static 'imgs/compress/event-sopa.webp' %}" alt="" srcset="">
                <div class="event-desc">
                    <p>Hello Market Solo Paragon 2023</p>
                    <hr style="width: 100%;">
                    <p style="font-size: 12px;">13 - 17 September 2023</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Partner Section -->
    <div class="partner-section">
        <h2>#SEDULURBANGJODI</h2>
        <h3>BERITA TEH TARIK JODI</h3>
        <div class="stiker1">
            <img src="{% static 'imgs/compress/stiker-harimau-orange.webp' %}" alt="">
        </div>
        <div class="partner-article">
            {% for article in article_list %}
            <div class="article-container">
                <div class="article-header">
                    <div class="article-title">
                        <h4><a href="{{article.reference_link}}" style="color: inherit;">{{article.article_title}}</a></h4>
                    </div>

                </div>
                <div class="article-img">
                    <img src="{{ article.img.url }}" alt="">
                </div>
                <div class="article-footer">
                    <a href="{{article.reference_link}}">
                        <div class="article-button">
                            <a href="{{article.reference_link}}">Baca Artikel ></a>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="partners-showcase" style="margin-top: 3em;">
            <div class="partner-pattern-top"></div>
            <div class="partner-title">MITRA SUKSES TEH TARIK JODI</div>
            <div class="stiker2">
                <img src="{% static 'imgs/compress/jodi-1.png' %}" alt="">
            </div>
            <div class="partners">
                <div class="partner">
                    <img src="{% static 'imgs/compress/mitra-manahan.webp' %}" alt="" srcset="">
                    <div class="partner-desc">
                        <p style="font-size: .9em;">Outlet Teh Tarik Jodi Manahan</p>
                        <hr style="width: 100%;">
                        <p style="font-family: auto;">Jl. Menteri Supeno No.3, Manahan, Kec. Banjarsari, Kota Surakarta, Jawa Tengah 57139</p>
                    </div>
                </div>
                <div class="partner">
                    <img src="{% static 'imgs/compress/mitra-kawatan.webp' %}" alt="" srcset="">
                    <div class="partner-desc">
                        <p style="font-size: .9em;">Outlet Teh Tarik Jodi Kawatan</p>
                        <hr style="width: 100%;">
                        <p style="font-family: auto;">Jl. Moh. Yamin No.64, Jayengan, Kec. Serengan, Kota Surakarta, Jawa Tengah 57153</p>
                    </div>
                </div>
                <div class="partner">
                    <img src="{% static 'imgs/compress/mitra-ums.webp' %}" alt="" srcset="">
                    <div class="partner-desc">
                        <p style="font-size: .9em;">Outlet Teh Tarik Jodi UMS</p>
                        <hr style="width: 100%;">
                        <p style="font-family: auto;">Jl. Rajawali Raya, Geduren, Gonilan, Kec. Kartasura, Kabupaten Sukoharjo, Jawa Tengah 57169
                        </p>
                    </div>
                </div>
            </div>
            <div class="partner-pattern-bottom"></div>
        </div>
    </div>

    <!-- Influencer section 2 original -->
    <!-- <div class="video-influencer-section2">
        <h2>Video Influencer</h2>
        <div class="stiker1">
            <img src="{% static 'imgs/compress/stiker-harimau-orange.webp' %}" alt="" srcset="">
        </div>
        <div class="video-player2">
            <video controls>
                <source src="{% static 'vids/influencer2.mp4' %}" type="video/mp4">
                Your browser does not support the video tag
            </video>
        </div>
        <div class="stiker2">
            <img src="{% static 'imgs/compress/stiker-j.webp' %}" alt="" srcset="">
        </div>
        <div class="stiker3">
            <img src="{% static 'imgs/compress/stiker-teko.webp' %}" alt="" srcset="">
        </div>
    </div> -->

    <!-- Influencer section 2 revisi-->
    <div class="video-influencer-section2">
        <div class="stiker-semangatpagi">
            <img src="{% static 'imgs/compress/stiker-semangatpagi.webp' %}" alt="" srcset="">
        </div>
        <div class="stiker3">
            <img src="{% static 'imgs/compress/stiker-teko.webp' %}" alt="" srcset="">
        </div>
        <div class="stiker1">
            <img src="{% static 'imgs/compress/stiker-harimau-orange.webp' %}" alt="" srcset="">
        </div>
        <div class="banner-artis" style="display: flex; width: 100%; justify-content: center;"><img src="{% static 'imgs/compress/banner-artis.png' %}" alt="" srcset=""></div>
        <div class="events-photo">
            <div class="event-photo">
                <img src="{% static 'imgs/compress/anis.webp' %}" alt="" srcset="">
            </div>
            <div class="event-photo">
                <img src="{% static 'imgs/compress/giring.webp' %}" alt="" srcset="">
            </div>
            <div class="event-photo">
                <img src="{% static 'imgs/compress/gilga.webp' %}" alt="" srcset="">
            </div>
        </div>
        <div class="stiker2">
            <img src="{% static 'imgs/compress/stiker-j.webp' %}" alt="" srcset="">
        </div>
        <div class="stiker3">
            <img src="{% static 'imgs/compress/stiker-teko.webp' %}" alt="" srcset="">
        </div>
    </div>

    <div class="video-influencer-section3">
        <h2>Video Influencer</h2>
        <div class="stiker1">
            <img src="{% static 'imgs/compress/stiker-harimau-orange.webp' %}" alt="" srcset="">
        </div>
        <div class="video-player">
            <video controls>
                <source src="{% static 'vids/influencer3.mp4' %}" type="video/mp4">
                Your browser does not support the video tag
            </video>
        </div>
        <div class="stiker2">
            <img src="{% static 'imgs/compress/stiker-j.webp' %}" alt="" srcset="">
        </div>
        <div class="stiker3">
            <img src="{% static 'imgs/compress/stiker-teko.webp' %}" alt="" srcset="">
        </div>
    </div>

    <!-- Franchise Section -->
    <div class="franchise-section" id="paket-mitra">
        <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="franchise-stiker-top-left">
        <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="franchise-sticker-top-right">
        <h1 class="franchise-title">
            <span id="franchise-title1">PAKET MITRA</span>
            <span id="franchise-title2" class="franchise-title2">TEH TARIK JODI</span>
        </h1>
        <div class="stiker1">
            <img src="{% static 'imgs/stiker-royalti.png' %}" alt="">
        </div>
        <div class="stiker2">
            <a href="https://wa.me/+6282120002633?text=Hai%20Teh%20Tarik%20Jodi..."><img src="{% static 'imgs/stiker-harga.png' %}" alt=""></a>
        </div>
        <div class="franchise-content">
            <div class="stand">
                <img src="{% static 'imgs/compress/franchise-stand.webp' %}" alt="">
            </div>
            <div class="franchise-promo">
                <h2>Dapatkan Promo Kemitraan Khusus</h2>
                <p><a href="https://wa.me/+6282120002633?text=Hai%20Teh%20Tarik%20Jodi..." style="text-decoration: none; color: whitesmoke;">*Klik untuk Potongan Hingga <span>25%</span></a></p>
                <button><a style="text-decoration: none; color: whitesmoke;"  href="https://wa.me/+6282120002633?text=Hai%20Teh%20Tarik%20Jodi...">KLIK DI SINI</a></button>
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="franchise-stiker-bottom-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="franchise-sticker-bottom-right">
            </div>
        </div>
        <div class="include-container">
            <div class="include-wrapper"><img src="{% static 'imgs/compress/include-1.webp' %}" alt=""></div>
            <div class="include-wrapper"><img src="{% static 'imgs/compress/include-2.webp' %}" alt=""></div>
        </div>
    </div>

    <!-- Menu Section -->
    <div class="menu-section">
        <div class="half-circle"></div>
        <h3 class="stiker1">#BEINGAPARTNER</h3>
        <div class="stiker2">
            <img src="{% static 'imgs/stiker-kanji.png' %}" alt="" srcset="">
        </div>
        <h2>OUR MENU</h2>
        <div class="menu-slider">
            <div class="card">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-right">
                <img src="{% static 'imgs/compress/product-tehTarik.webp' %}" alt="" srcset="">
                <div class="card-content">
                    <h3>Teh Tarik</h3>
                    <p>racikan teh murni Nusantara dipadukan dengan susu dan krimer</p>
                </div>
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-right">
            </div>
            <div class="card">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-right">
                <img src="{% static 'imgs/compress/product-tehO.webp' %}" alt="" srcset="">
                <div class="card-content">
                    <h3>Teh-O</h3>
                    <p>racikan teh murni Nusantara</p>
                </div>
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-right">
            </div>
            <div class="card">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-right">
                <img src="{% static 'imgs/compress/product-matchaKotjok.webp' %}" alt="" srcset="">
                <div class="card-content">
                    <h3>Matcha Kotjok</h3>
                    <p>matcha premium dipadukan dengan susu dan krimer</p>
                </div>
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-right">
            </div>
            <div class="card">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-right">
                <img src="{% static 'imgs/compress/product-kopitiamSusu.webp' %}" alt="" srcset="">
                <div class="card-content">
                    <h3>Kopi Tiam Susu</h3>
                    <p>kopi hitam murni asli Medan dipadukan dengan susu dan krimer</p>
                </div>
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-right">
            </div>
            <div class="card">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-right">
                <img src="{% static 'imgs/compress/product-kopiO.webp' %}" alt="" srcset="">
                <div class="card-content">
                    <h3>Kopi-O</h3>
                    <p>kopi hitam murni asli Medan</p>
                </div>
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-right">
            </div>
            <div class="card">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-top-right">
                <img src="{% static 'imgs/compress/product-coklatKotjok.webp' %}" alt="" srcset="">
                <div class="card-content">
                    <h3>Coklat Kotjok</h3>
                    <p>dark coklat dipadukan dengan susu dan krimer</p>
                </div>
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-left">
                <img src="{% static 'imgs/compress/stiker-bunga.webp' %}" alt="" class="card-sticker-bottom-right">
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div class="contact-section" id="contact">
        <div class="contact-banner">
            <a href="https://wa.me/+6282120002633?text=Hai%20Teh%20Tarik%20Jodi..."><img src="{% static 'imgs/compress/contact-banner.webp' %}" alt=""></a>
        </div>
        <div class="contact">
            <div class="contact-owner">
                <img src="{% static 'imgs/compress/contact-owner.webp' %}" alt="">
            </div>
            <div class="contact-container">
                <h3>Mari membangun bisnis sukses dengan kami!</h3>
                <p>Dengan tujuan ingin membawa sesuatu yang berbeda di tengah - tengah masyarakat Indonesia. Sejak
                    dikeluarkan pada tahun 2017 <span style="font-weight: bold;">Teh Tarik Jodi</span> mendapat respon
                    yang sangat baik dari para
                    penikmatnya, denga hasil yang positif ini membuat tim Teh Tarik Jodi akan mengembangkan lini bisnis
                    jauh meluas ke seluruh Indonesia.</p>
                <div class="contact-footer">
                    <div class="contact-info">
                        <div class="phone">
                            <i class="fa-solid fa-phone"></i>
                            <span><a href="https://wa.me/+6282120002633?text=Hai%20Teh%20Tarik%20Jodi..." style="text-decoration: none; color: #E95122;">0821-2000-2633</a></span>
                        </div>
                        <div class="email">
                            <i class="fa-solid fa-envelope"></i>
                            <span>tehtarikjodi@gmail.com</span>
                        </div>
                    </div>
                    <div class="contact-button">
                        <button><a href="https://bit.ly/4972vaF" style="text-decoration: none; color: whitesmoke;">CONTACT US</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="company">
        <h3>PT. AKSELERA DUA KARYA</h3>
    </div>
    <div class="stiker1">
        <img src="{% static 'imgs/compress/stiker-j.webp' %}" alt="" srcset="">
    </div>
    <div class="stiker2">
        <img src="{% static 'imgs/compress/stiker-teko.webp' %}" alt="" srcset="">
    </div>
    </div>

    <!-- CircleType Initialization -->
    <script>
        new CircleType(document.getElementById('container-title1'))
            .radius(660);
        new CircleType(document.getElementById('container-title2'))
            .radius(660);
        new CircleType(document.getElementById('franchise-title1'))
            .radius(770);
        new CircleType(document.getElementById('franchise-title2'))
            .radius(770);
    </script>
    <script>
        function openWhatsAppPopup() {
            // Membuat URL WhatsApp dengan nomor dan pesan
            var whatsappUrl = "https://bit.ly/4972vaF";
            // Membuka jendela popup WhatsApp
            window.open(whatsappUrl, '_blank');
        }
    </script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <!-- Include custom JavaScript -->
    <script src="{% static 'js/landing.js' %}"></script>
</body>

</html>