@media screen and (max-width: 768px) {
    .logo img {
        width: 25%;
    }

    section {
        flex-direction: column;
        margin-top: 6em;
    }

    .section-text {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-left: 0;
        margin-top: 3em;
    }

    .section-text h1 {
        font-size: 4em;
    }

    .section-text h2 {
        font-size: 1.5em;
        padding: 0.25em 0;
    }

    .section-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
